.nav-wrapper {
    background-color: white;
    
}

.home-page, 
.price-page, 
.aboutme-page,
.contact-page {
    color: black;
}

.brand-logo.right {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;

}